*{
    margin: 0;
    padding: 0;
}
.header-container{
    padding: 50px;
    background-image: url("images/banner/banner1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 80vh; */
    /* text-align: right; */
}
.header-text{
    text-align: right;
    padding:130px;
}
.header-head{
    margin: 15px 0px;
    font-weight: bolder;
    font-size: 2.5rem;
}
.header-button{
    padding: 10px 20px;
    border: none;
    background-color: #F15B22;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}
.header-para{
    color: #444343;
}
.failing{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.imma{
    width: 400px;
}
.failing>div{
    padding: 50px;
}
.failing-heading{
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 800;
}
.text-div{
    width: 30%;
}
.failing-para{
    font-size: small;
    color: #444343;
    margin-bottom: 10px;
}
.items{
    margin-top: 10px;
    color: #444343;
    font-size: small;
}
.text-div>ul{
    margin-left: 10px;
}
.section-title{
    text-align: center;
    margin: 40px 0px;
    font-size: 1.8rem;
}
.skill-title{
    font-size: 1.3rem;
    margin-bottom: 13px;
}
.skill-image{
    width: 50px;
    margin-bottom: 13px;
}
.skills{
    text-align: center;
    
}
.my-plan-container{
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
}
.banner{
    margin: 140px;
    background-image: url("images/gradient2.png") , url("images/watch.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}
.call-btn{
    padding: 10px 20px;
    margin-top: 20px;
    color: #F15B22;
    border: none;
    border-radius: 5px;
}
.white{
    color: white;
    line-height: 150%;
}
.subscribe-form input{
    display: block;
}
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151414;
}
.information , .subscribe {
    padding: 50px;
    width: 30%;
}
.link-img{
    width: 30px;
    margin-right: 10px;
}
.bottom{
    margin-bottom: 14px;
    margin-top: 14px;
}
#email{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.allright{
    background-color:#151414;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
}
footer hr{
    color: white;
    /* width: 90%; */
}
